#initiate restoration of a batch of objects everyday at midnight
0 0 * * * /home/ec2-user/aws-medusa-fixity/bin/initiate_batch_restoration.sh

#process batch reports everyday at noon
0 12 * * * /home/ec2-user/aws-medusa-fixity/bin/process_batch_reports.sh

#check for messages in the queue every minute
* * * * * /home/ec2-user/aws-medusa-fixity/bin/fetch_responses.sh

#check for fixity ready files and run fixity every minute
* * * * * /home/ec2-user/aws-medusa-fixity/bin/compute_fixity.sh


